:root {
    --primary-color: #FFDD00;
    --secondary-color: #8B4513;
    --text-color: #333;
    --white: #FFF;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

.success{
    color: #2ed573;
    font-weight: bold;
}
.failed{
    color: #ff4757;
    font-weight: bold;
}


.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.nav {
    margin: 0px;
    overflow: hidden;
    background-color: var(--primary-color);
    padding: 0px 10px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 3;
}
.nav .logo{
    display: flex;
    align-items: center;
}
.nav .logo a{
    float: left;
}
.nav .logo h2{
    white-space: nowrap; /* Prevents the text from breaking into a new line */
    padding: 0; /* Adjust padding as needed */
    margin: 0;
    font-size: 1.5rem;
    color: #8B4513;
    text-shadow: 3px 2px rgba(151, 94, 19, 0.2);
    animation: mymove 3s infinite;
}
@keyframes mymove {
    50% {text-shadow: 10px 20px 30px red;}
  }
.nav .search-bar {
    padding: 6px;
    width: 499px;
    border: none;
    border-radius: 10px;
    margin-top: 8px;
    margin-right: 0px;
    font-size: 17px;
    text-align: center;
    float: none;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.nav a{
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
}
.nav .header-right{
    float: right;
    padding: 20px;
}

.nav a:hover{
    font-weight: bolder;
    text-decoration: underline;
}
.nav a.active{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.menu-hero{
    padding-top: 100px;
    text-align: center;
    color:  #8B4513;
}
.cta-button {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


/* CSSS for navbar section */

.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}


/* CSS for Food SEarch Section */

.food-search{
    background-image: url(../images/back-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}
.food-search-order{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}
.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */
.categories{
    padding: 4% 0;
}

.box-3{
    width: 30%;
    float: left;
    margin: 2%;
}


/* CSS for Food Menu */
.food-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* CSS for Social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}



/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}
